!!! 5

html
  head
    meta(charset="UTF-8")
    
    title 5th.ch/
    
    <link type="text/plain" rel="author" href="http://5th.ch/humans.txt" />
    link(rel="stylesheet", type="text/css", href="css/main.css")
    
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'XX-XXXXXXX-X']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  
  
  body
    section
      #blubb
        header
          h1 5th.ch.
            span /
        ul.links
          li
           a(href="http://blog.5th.ch/") blog.
          li
            a(href="http://5th.li/t") twitter
          li
           a(href="http://5th.li/github") github
