!!! 5

html
  head
    meta(charset="UTF-8")
    title 5th.ch/
    link(rel="stylesheet", type="text/css", href="css/main.css")
  
  
  body
    section
      #blubb
        header
          h1 5th.ch
            span /
        ul
          li.link
           a(href="http://blog.5th.ch/") blog.
          li.link
            a(href="http://5th.li/t") twitter
          li.link
           a(href="http://5th.li/github") github