/*
 *
 * author: marco koch
 * date:   29.01.10
 * orange
 *
 */




body {
	font-family:Helvetica;
	background-color:black;
	font-size:45px;
	padding:50px;
	letter-spacing:1px;
	color:rgb(263, 90, 30);
}
		
a:active, a:visited, a:link {
	color:rgb(263, 90, 30);
	text-decoration:none;			
}

a:hover {
	color:rgb(263, 90, 30);
	text-decoration:underline;			
}